:root {
  --primary-theme: #228C22;
  --primary-font: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-theme);
  color: var(--primary-font);
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}