:root {
  --primary-theme: #59CB47;
  --primary-font: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-theme);
  color: var(--primary-font);
}

button {
  all:unset;
}

button:hover {
  cursor: pointer;
}


#root {
  height: 100%;
  width: 100%;
}


.App {
  height: 100%;
  width: 100%;
}

