header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 10vh;
    padding: 0 1em;
    background-color: var(--primary-font);
    color: var(--primary-theme);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a{
    text-decoration: none;
    font-size: 1.5em;
    color: var(--primary-theme);
}


nav a:hover {
    text-decoration: underline;
}

header .home-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    gap: 2em;
    transition: 1s;
    transform: translateY(-100vh);
    background-color: var(--primary-font);
}

header .nav-btn {
    background: none;
    border: none;
    padding: 5px;
    font-size: 1.5em;
    /* color: var(--primary-font); */
}

header .responsive_nav {
    transform: none;
}

header .nav-close-btn {
    position: absolute;
    top:0.7em;
    right: 0.7em;
}

